@model Wasla.Models.CoinHistory

@{
    ViewData["Title"] = "Coin History Details";
}

<h1>Coin History Details</h1>

<div>
    <h4>CoinHistory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">User</dt>
        <dd class="col-sm-10">@Model.User?.FullName</dd>

        <dt class="col-sm-2">Time</dt>
        <dd class="col-sm-10">@Model.Time</dd>

        <dt class="col-sm-2">Process Type</dt>
        <dd class="col-sm-10">@Model.ProcessType?.ProcessName</dd>

        <dt class="col-sm-2">Amount</dt>
        <dd class="col-sm-10">@Model.Amount</dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
